/*-------------------------------------------------------------
1.0 Normalize
--------------------------------------------------------------*/

* {
  font-size: 0;
  padding: 0;
  margin: 0;
}

html {
  font-family: $font-family-base;
}

b {
  font-size: 14px;
}

/*****************************
a
*****************************/

a {
  text-decoration: none;
  font-size: 14px;
}

/*****************************
Div
*****************************/

div {
  width: 100%;
  display: block;
}

/*****************************
Image
*****************************/

img {
  display: block;
  width: 100%;
  margin: 0 auto;
}

/*****************************
Cookie banner
*****************************/

.cookie_banner {
  font-size: 14px;

  .got_it {
    font-size: 14px;
  }
}