/*-------------------------------------------------------------
3.1 Text
--------------------------------------------------------------*/

.com_anm22_wb_editor_com_anm22_wb_editor_page_element_text {

    h1 {
      font-weight: normal;
      font-size: 20px;
    }
    
    p {
      font-size: 14px;
  
      a {
        font-size: 14px;
      }
    }
  
  }